KEYCLOAK_ENABLED=true
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=your-client-id
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CALLBACK_PATH=/keycloak/callback.html
KEYCLOAK_SILENT_CHECK_PATH=/keycloak/silent-check-sso.html
